.buttonsBlock {
    color: black;
    margin: 10px;
    width: auto;
    /*border: 3px solid #01B7F0;*/
    border: 3px solid #0d2c7e;
    border-radius: 10px;
}

.button {
    font-size: 22px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin: 10px;
    /*border: 2px solid #01B7F0;*/
    border: 2px solid #0d2c7e;
    border-radius: 5px;
    background-color: deepskyblue;
}
.button:hover {
    background-color: dodgerblue;
}
.button:disabled {
    background-color: darkgray;
}
.button:active {
    background-color: #01B7F0;
}