.result {
    text-align: center;
    width: auto;
    font-size: 70px;
    color: midnightblue;
    margin: 10px;
    height: 120px;
    background-color: #01B7F0;
    border: 3px solid #01B7F0;
    border-radius: 10px;
}

.error {
    width: auto;
    font-size: 70px;
    margin: 10px;
    height: 120px;
    border: 3px solid #01B7F0;
    background-color: #01B7F0;
    border-radius: 10px;
    color: #b00f0f;
}

.errorResult {
    color: #b00f0f;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
}

.settingsResult {
    color: midnightblue;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}